body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

input {
  width: 200px;
}

button {
  cursor: pointer;
  background: #ff9800;
  color: #111;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #e68900;
}

.reserva {
  border: 1px solid #444;
  padding: 15px;
  margin: 15px auto;
  max-width: 400px;
  border-radius: 8px;
  background: #222;
}

#panel h3 {
  margin-bottom: 15px;
}

#lista p {
  color: #aaa;
}
