/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  height: 5%;
  background: #000;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.logo span {
  color: #e63946;
}

.navbar nav {
  display: flex;
  gap: 15px;
}

.navbar nav a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  text-size-adjust: 10%;
}

.navbar nav a:hover {
  color: #e63946;
}

.btn_car {
  background: #e63946;
  padding: 10px 15px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin-top:  10px;
  width: 120px;
}

/* ===== HERO ===== */
.hero {
  height: calc(100vh - 140px);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../img/portada.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Texto del hero */
.hero-text h1 {
  font-size: 65px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px;
}

.hero-text h2 {
  font-size: 35px;
  margin-bottom: 20px;
  margin: 15px;
}

.hero-text span {
  color: #e63946;
}

.btn-hero {
  background: #e63946;
  padding: 12px 25px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-hero:hover {
  background: #b42c36;
}

.info-final {
  height: var(--info-h);
  background: #000;
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.info-final p {
  margin: 2px;
}
/* ===== PRODUCTOS ===== */
.productos {
    padding: 50px 20px;
    max-width: 1200px; /* limita ancho total */
    margin: 0 auto;    /* centra la sección */
}

#buscar {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background: #222;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}

/* GRILLA RESPONSIVE */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-items: left; /* importante para centrar productos cuando hay pocos */
}

/* CADA PRODUCTO */
.producto {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%; /* La grilla controla el ancho */
    max-width: 220px; /* tamaño máximo del producto */
}

.producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.producto h3 {
    margin: 10px 0;
}

.precio {
    color: #00ff99;
    font-weight: bold;
    font-size: 18px;
}

.producto button {
    background: #00ff99;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}
/* ===== CARRITO ===== */
.carrito {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

#itemsCarrito p {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* ===== PAGO ===== */
.pago {
  text-align: center;
  padding: 40px;
}

.qr {
  width: 250px;
  margin: 15px 0;
}

/* ===== FOOTER ===== */
footer {
  background: #000;
  padding: 25px;
  text-align: center;
  margin-top: 40px;
}



/* ====================================================== */
/* ===================== RESPONSIVO ====================== */
/* ====================================================== */

/* ===== Móviles pequeños ===== */
@media (max-width: 480px) {
  
  .navbar {
    flex-direction: row;
    text-align: left;
    gap: 8px;
  }

  .navbar nav {
    flex-direction: column;
    gap: 8px;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text h2 {
    font-size: 18px;
  }

  .btn-hero {
    font-size: 16px;
    padding: 10px 18px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 15px;
  }

  footer {
    font-size: 14px;
  }
}

/* ===== Tablets ===== */
@media (max-width: 768px) {

  .navbar nav a {
    margin-right: 0;
  }

  .hero {
    height: 60vh;
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 50px;
  }

  .hero-text h2 {
    font-size: 22px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

}

/* ===== Laptops medianos ===== */
@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 55px;
  }

  .hero-text h2 {
    font-size: 25px;
  }
}
